In [1]:
!pip install pyspark==3.5.0 findspark

Collecting pyspark==3.5.0
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.5.0) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=a63835c2caec0063c300423df03cade9dfa1fbdd65bb592e2ad18e6ac234acc3
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: findspark, pyspark
Successfully installed findspark-2.0.1 pyspark-3.5.0

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Day13").getOrCreate()

In [75]:
movies_df = spark.read.csv("sample_data/movies_metadata.csv", header = True, inferSchema = True)

In [72]:
 ratings_df = spark.read.csv("sample_data/ratings.csv", header=True, inferSchema=True)

 ratings_df.show(5)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    110|   1.0|1425941529|
|     1|    147|   4.5|1425942435|
|     1|    858|   5.0|1425941523|
|     1|   1221|   5.0|1425941546|
|     1|   1246|   5.0|1425941556|
+------+-------+------+----------+
only showing top 5 rows

In [73]:
ratings_df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

In [77]:
movies_and_ratings = movies_df.join(ratings_df, movies_df['id'] == ratings_df['movieId'], 'inner')

In [81]:
from pyspark.sql.functions import desc

best_rated_by_genre = movies_and_ratings.groupBy("genres").avg("rating").orderBy(desc("avg(rating)"))

best_rated_by_genre.show()

+--------------------+------------------+
|              genres|       avg(rating)|
+--------------------+------------------+
|[{'id': 12, 'name...|               4.5|
|[{'id': 10749, 'n...|               4.5|
|[{'id': 99, 'name...|              4.25|
|[{'id': 53, 'name...|              4.25|
|[{'id': 28, 'name...|              4.25|
|[{'id': 10749, 'n...| 4.213932576813326|
|[{'id': 18, 'name...|4.2131118634504165|
|[{'id': 18, 'name...| 4.199924604171902|
|[{'id': 14, 'name...|4.1806621880998085|
|[{'id': 18, 'name...| 4.166666666666667|
|[{'id': 18, 'name...| 4.152347687892122|
|[{'id': 16, 'name...| 4.150013762730525|
|[{'id': 18, 'name...| 4.135950817381585|
|[{'id': 10770, 'n...|4.1306878306878305|
|[{'id': 28, 'name...| 4.130216013452335|
|[{'id': 18, 'name...| 4.114169927333706|
|[{'id': 9648, 'na...|  4.11226428884666|
|[{'id': 18, 'name...| 4.109830097087379|
|[{'id': 28, 'name...| 4.104114395999649|
|[{'id': 28, 'name...| 4.086393827822901|
+--------------------+------------------+
only showing top 20 rows